$primary: #ff640d;
$light: #e5e5e5;
$secondary: #4a4a4a;
$dark: #313131;

@mixin btnStyle($size) {
  background-color: $primary;
  color: white;
  border-radius: 5px;
  border: 0;
  font-size: 17.5px;
  height: $size;
}
