.sectionB {
  margin: 0 25px;
  .dishHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 41px;
    }
    span {
      color: $primary;
      font-size: 17.5px;
      line-height: 26px;
      font-weight: 700;
      font-size: 17.5px;
      line-height: 26px;
    }
  }

  .dish {
    display: flex;
    margin-bottom: 42px;
    .dishInfo {
      margin-left: 13px;
      h3 {
        margin: 0;
        font-size: 17.5px;
        line-height: 26px;
      }
      span {
        font-size: 11.2px;
        line-height: 17px;
      }
    }
    .priceInfo {
      display: flex;
      justify-content: space-between;
      span {
        padding-top: 10px;
        font-size: 14px;
        line-height: 21px;
      }
      button {
        @include btnStyle(25px);
        font-weight: bold;
        font-size: 12.5px;
        line-height: 19px;
        width: 72 px;
        height: 27 px;
        padding: 6 px;
        border-radius: 6 px;
      }
    }
  }
}
