@import "./colors", "./sectionA" , "./sectionB", "./footerNav";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  background-color: rgb(45, 45, 61);
}
.mockupContainer {
  background-color: $light;
  height: fit-content;
  min-width: 370px;
  max-width: 370px;
  display: flex;
  flex-direction: column;
}


